<div class="footer mt-3 stickey-bottom">
    <div class="social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        </div>
    <div class="brand">&copy; 2024 WanderLust, Inc.</div>
    <div class="f-info-link">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
        <a href="#">Company details</a>
    </div>
</div>