<%= layout('/layouts/boilerplate') %>

<body>
  <div class="container justify-center">
    <h3>Create new Listing</h3>
    <form action="/listing" method="post" class="form justify-center">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          id="title"
          placeholder="Your title"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          id="description"
          placeholder="enter description"
          class="form-control"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          name="listing[image]"
          id="image"
          placeholder="enter image Url/Link"
          class="form-control"
        />
      </div>
      <div class="mb-3 row">
          <div class=" col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              id="price"
              placeholder="enter Price"
              class="form-control"
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              id="country"
              placeholder="enter country"
              class="form-control"
            />
          </div>
        </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          id="location"
          placeholder="enter location"
          class="form-control"
        />
      </div>
      <br>
      <button class="btn btn-danger btn-sm text-center offset-2 pd-2">Add</button>
    </form>
  </div>
</body>
